<%= form_with(model: recipe) do |form| %>
  <% if recipe.errors.any? %>
    <div style="color: tomato">
      <h2><%= pluralize(recipe.errors.count, "error") %> this recipe can not be saved:</h2>

      <ul>
        <% recipe.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%=form.text_field :name, placeholder:"Name"%>
    <%=form.text_area :description, placeholder:"Description"%>
    <%=form.time_field :prepration_time, placeholder:'Prepration time',value: "%H:%M",min: 'hh:mm:ss',max: 'hh:mm:ss'%>
    <%=form.time_field :cooking_time, placeholder:'Cooking time',value: "%H:%M",min: 'hh:mm:ss',max: 'hh:mm:ss'%>
    <%= form.submit 'Create'%>
  </div>
<% end %>