<div>
	<p><%=recipe.name%></p>
	<p>Prepration time: <%=recipe.prepration_time%></p>
	<div>
		 <%=form_with url: recipe_path, method: :put do %>
             public: <label class="switch">
               <%= check_box_tag "",@recipe.public,@recipe.public, onchange: "this.form.submit()" %>
               <span class="slider round"></span>
             </label>
             <%end%> 
    </div>
    <p>Cooking time: <%=recipe.cooking_time%></p>
    <p>Description: <%=recipe.description%></p>
    <button>Generate list for your shopping</button>
    <button>Add all ingredients</button>
    <hr>
    <% # render food list from food table%> 
</div>