<section class="sign container flex">
  <div class="form flex">
    <h2>Add Food</h2>

    <%= form_with model: @food, method: :post, scope: :food do |f| %>
      <div class="field flex">
        <%= f.text_field :name, placeholder: 'Name' %>
      </div>
      <div class="field flex">
        <%= f.number_field :price, placeholder: 'Price' %>
      </div>
      <div class="field flex">
        <%= f.number_field :quantity, placeholder: 'Quantity' %>
      </div>
      <div class="field flex">
        <%= f.text_field :measurement_unit, placeholder: 'Measurement Unit' %>
      </div>
      <%= f.submit 'Submit', class: 'submit' %>
    <% end %>
  </div>
</section>