# <% @shopping_list.each do | list | %>
#     <p> Name <%= list.name %></p>
#     <p> Measurements <%= list.measurement_unit %>
#     <p> Quantity <%= list.quantity %></p>
#     <p>Price $<%= list.price %></p>
# <% end %>
# <p>Total Price $<%= @total_price %></p>